<a href="https://colab.research.google.com/github/vujjiniashrith/ESS-profit-maximaization-using-deep-Reinforcemetn-Learning/blob/Data/conveting_15min_data_into_hourly_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('data.csv')

In [ ]:
df.shape

(2810560, 5)

In [ ]:
df.head()

   dataid          local_15min       gen       use  myid
0      26  2016-01-01 00:00:00 -0.002000  0.518533     1
1      26  2016-01-01 00:15:00 -0.001400  0.585400     1
2      26  2016-01-01 00:30:00 -0.000667  0.587933     1
3      26  2016-01-01 00:45:00 -0.001000  0.416667     1
4      26  2016-01-01 01:00:00 -0.001000  0.423600     1

In [ ]:
df = df[df['dataid']==26]

In [ ]:
df.shape

(35132, 5)

In [ ]:
df.tail()

       dataid          local_15min       gen       use  myid
35127      26  2016-12-31 22:45:00  0.004267  2.803267     1
35128      26  2016-12-31 23:00:00  0.008533  2.635267     1
35129      26  2016-12-31 23:15:00  0.013200  2.806267     1
35130      26  2016-12-31 23:30:00  0.004933  1.884200     1
35131      26  2016-12-31 23:45:00  0.004733  1.786133     1

In [ ]:
print(df.columns)

Index(['dataid', 'local_15min', 'gen', 'use', 'myid'], dtype='object')

In [ ]:
columns_to_drop = ['dataid',  'myid']

In [ ]:
df.drop(columns=columns_to_drop,inplace=True)

In [ ]:
df.head()

           local_15min       gen       use
0  2016-01-01 00:00:00 -0.002000  0.518533
1  2016-01-01 00:15:00 -0.001400  0.585400
2  2016-01-01 00:30:00 -0.000667  0.587933
3  2016-01-01 00:45:00 -0.001000  0.416667
4  2016-01-01 01:00:00 -0.001000  0.423600

In [ ]:
df['local_15min'] = pd.to_datetime(df['local_15min'])

In [ ]:
df.set_index('local_15min', inplace=True)

# Resample the data to one-hour intervals and aggregate using a function (e.g., sum)
hourly_data = df.resample('1H').sum()

# Reset the index to make 'local_15min' a regular column
hourly_data.reset_index(inplace=True)

In [ ]:
df.head()

                          gen       use
local_15min
2016-01-01 00:00:00 -0.002000  0.518533
2016-01-01 00:15:00 -0.001400  0.585400
2016-01-01 00:30:00 -0.000667  0.587933
2016-01-01 00:45:00 -0.001000  0.416667
2016-01-01 01:00:00 -0.001000  0.423600

In [ ]:
print(hourly_data)

             local_15min       gen        use
0    2016-01-01 00:00:00 -0.005067   2.108533
1    2016-01-01 01:00:00 -0.002533   1.852600
2    2016-01-01 02:00:00 -0.004333   1.988000
3    2016-01-01 03:00:00 -0.005133   1.993267
4    2016-01-01 04:00:00 -0.003133   1.781533
...                  ...       ...        ...
8779 2016-12-31 19:00:00  0.019667  12.455867
8780 2016-12-31 20:00:00  0.041067  21.469133
8781 2016-12-31 21:00:00  0.011467  10.920000
8782 2016-12-31 22:00:00  0.014533  13.135600
8783 2016-12-31 23:00:00  0.031400   9.111867

[8784 rows x 3 columns]

In [ ]:
consumer_data = pd.DataFrame(hourly_data)

In [ ]:
consumer_data.head()

          local_15min       gen       use
0 2016-01-01 00:00:00 -0.005067  2.108533
1 2016-01-01 01:00:00 -0.002533  1.852600
2 2016-01-01 02:00:00 -0.004333  1.988000
3 2016-01-01 03:00:00 -0.005133  1.993267
4 2016-01-01 04:00:00 -0.003133  1.781533

In [ ]:
consumer_data.shape

(8784, 3)

In [ ]:
df1 = consumer_data.copy()

In [ ]:
df1.tail()

             local_15min       gen        use
8779 2016-12-31 19:00:00  0.019667  12.455867
8780 2016-12-31 20:00:00  0.041067  21.469133
8781 2016-12-31 21:00:00  0.011467  10.920000
8782 2016-12-31 22:00:00  0.014533  13.135600
8783 2016-12-31 23:00:00  0.031400   9.111867

In [ ]:
df1 = df1.rename(columns={'local_15min': 'dateTime'})

In [ ]:
df1.head()

             dateTime       gen       use
0 2016-01-01 00:00:00 -0.005067  2.108533
1 2016-01-01 01:00:00 -0.002533  1.852600
2 2016-01-01 02:00:00 -0.004333  1.988000
3 2016-01-01 03:00:00 -0.005133  1.993267
4 2016-01-01 04:00:00 -0.003133  1.781533

In [ ]:
df1.drop(columns = ['gen'],inplace=True)

In [ ]:
df1.head()

             dateTime       use
0 2016-01-01 00:00:00  2.108533
1 2016-01-01 01:00:00  1.852600
2 2016-01-01 02:00:00  1.988000
3 2016-01-01 03:00:00  1.993267
4 2016-01-01 04:00:00  1.781533

In [ ]:
df1.to_csv('consumer_data_hourly.csv',index = False)